.brd {
  border: 1px solid #d3d3d3;
}
.verticalMiddle {
  top: 50%;
  -ms-transform: translate(0, -50%);
  /* IE 9 */
  -webkit-transform: translate(0, -50%);
  /* Chrome, Safari, Opera */
  transform: translate(0, -50%);
  position: absolute;
}
.itemCenter {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, -50%);
  position: absolute;
}
.horizontalMiddle {
  left: 50%;
  -ms-transform: translate(-50%, 0);
  /* IE 9 */
  -webkit-transform: translate(-50%, 0);
  /* Chrome, Safari, Opera */
  transform: translate(-50%, 0);
  position: absolute;
}
/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
html {
  height: 100%;
}
table {
  width: 100%;
  border: none;
}
ol:not([class]) {
  counter-reset: ol-counter -1;
}
ol:not([class]) li {
  list-style: none;
  position: relative;
  padding-left: 21px;
}
ol:not([class]) li:before {
  content: counter(ol-counter);
  counter-increment: ol-counter;
  font-style: normal;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 14px;
  color: #f4003a;
}
td,
th {
  padding: 10px;
  vertical-align: top;
  color: #4c4c4c;
}
tr:nth-child(2n+2) {
  background: #e9e9e9;
}
h1 {
  text-transform: uppercase;
}
h1,
.pH1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #e76214;
  line-height: 105%;
  font-family: "GothamProBold";
}
h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #e76214;
  line-height: 105%;
  font-family: "GothamProBold";
}
h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #4c4c4c;
  line-height: 105%;
  font-family: "GothamProBold";
}
p {
  margin-bottom: 15px;
  line-height: 150%;
}
a {
  color: #db5100;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
strong {
  font-family: "GothamProBold";
}
i,
em {
  font-family: "GothamProItalic";
}
hr {
  border: 0;
  height: 1px;
  background: #e6e6e6;
}
ol,
ul {
  list-style-position: inside;
  margin-bottom: 20px;
}
li {
  margin-bottom: 10px;
}
*:focus {
  outline: none;
}
input[type='text'],
input[type='password'],
input[type='email'],
textarea {
  padding: 12px;
  border: 1px solid #e6e6e6;
}
input[type='submit'],
button,
.btn {
  color: #fff;
  padding: 10px 25px;
  padding-top: 11px;
  font-size: 20px;
  background: #f70046;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}
input[type='submit']:hover,
button:hover,
.btn:hover {
  background: #BF0539;
}
.moreBtn {
  color: #4b5e62;
  padding: 10px 25px;
  padding-top: 11px;
  font-size: 20px;
  background: #d6dee0;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
}
.moreBtn:hover {
  background: #bcbcbc;
}
.type2Btn {
  color: #fff;
  padding: 10px 25px;
  padding-top: 11px;
  font-size: 20px;
  background: #d6dee0;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
}
.type2Btn:hover {
  background: #bcbcbc;
}
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "GothamProRegular";
  font-size: 14px;
  color: #757575;
  width: 100%;
  height: 100%;
  min-width: 1250px;
  min-height: 650px;
}
.wrapper {
  width: 100%;
  min-width: 1250px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
  height: 150px;
  background: #FFE680;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
  padding: 0 0 65px;
}
#body_frame,
#centrer1,
#centrer2,
.bg_img,
.load_frame,
.scroll_frame,
#bg_video,
#preloader_frame,
.rotate_help_frame,
.pano_points_frame,
.pano_place,
#pano_screen,
.map_place,
.popup_overlay,
.plans_map_cont,
.plans_map,
.floor_frame,
.floor_map_cont,
.floor_map,
.apart_img,
.korp_det_val,
.adv_icons:after,
.g_p:after,
.korpus_move,
.minimap_map_cont,
.minimap_map,
.p_item,
.road_frame {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#body_frame,
.load_frame {
  overflow: hidden;
  min-height: 650px;
}
.bg_slides_frame {
  position: absolute;
  left: 50%;
  bottom: 17%;
  width: 590px;
  margin: 0 0 30px -295px;
  z-index: 5;
}
.bg_slides_item {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  display: none;
}
.bg_slides_icon {
  position: absolute;
  width: 62px;
  height: 62px;
  margin: 0 0 20px -31px;
  border-radius: 31px;
  bottom: 100%;
  left: 50%;
  background: #f7941e;
}
.bg_slides_arrow.left {
  background-position: -299px -5px;
  right: 100%;
}
.bg_slides_arrow {
  bottom: 30px;
  width: 19px;
  height: 30px;
  top: auto;
}
.bg_slides_arrow.right {
  background-position: -299px -46px;
  left: 100%;
}
.bg_slides_dots_frame {
  position: absolute;
  bottom: 15%;
  left: 50%;
  width: 1000px;
  height: 0px;
  margin: 0 0 30px -500px;
  text-align: center;
  z-index: 10;
}
.bg_slides_dots {
  position: relative;
  width: 13px;
  height: 13px;
  cursor: pointer;
  background: url('../i/sprite.png') -363px -5px;
  display: inline-block;
}
.bg_slides_dots.active,
.bg_slides_dots:hover {
  background-position: -363px -27px;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 314rem;
}
.onl-tran-box {
  width: 247rem;
  height: 146rem;
  background: url(../img/online-img.png);
  background-size: 247rem 146rem;
  position: absolute;
  left: 0;
  top: 220rem;
  z-index: 1;
}
.onl-tran-text {
  position: absolute;
  top: 39rem;
  left: 54rem;
  font-size: 18rem;
  text-transform: uppercase;
  line-height: 21rem;
  font-family: "GothamProLight";
}
.onl-tran-text strong {
  display: block;
  font-family: "GothamProBlack";
}
.ac-main-icon {
  width: 158rem;
  height: 141rem;
  background: url(../img/ac-main-icon.png);
  background-size: 158rem 141rem;
  position: absolute;
  z-index: 1;
  left: 10rem;
  top: 485rem;
  font-family: "GothamProBlack";
}
.ac-main-icon span {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 24rem;
  left: 30rem;
  top: 65rem;
}
.footer-menu {
  background: url('../img/footer-fon.png');
  background-size: 515rem 56rem;
  width: 515rem;
  height: 56rem;
}
.footer-menu-list {
  margin: 0;
}
.footer-menu-list li {
  list-style: none;
  margin: 0;
  display: inline-block;
}
.footer-menu-list li a {
  display: block;
  padding: 28rem 20rem;
  padding-bottom: 5rem;
  color: #ffffff;
  font-size: 16rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "GothamProBlack";
}
.footer-menu-list li a:hover {
  text-decoration: underline;
}
.menu-link {
  position: absolute;
  top: 0;
  right: 0;
  background: url('../img/menu-link.png');
  background-size: 146rem 104rem;
  width: 146rem;
  height: 104rem;
  z-index: 1;
  text-decoration: none;
}
.menu-link span {
  color: #fff;
  font-size: 18rem;
  text-transform: uppercase;
  font-family: "GothamProBlack";
  position: absolute;
  left: 55rem;
  top: 25rem;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
  margin: -56rem auto 0;
  min-width: 1250px;
  height: 56rem;
  position: relative;
}
