@fn :"GothamProRegular";
@fbl :"GothamProBlack";
@fb :"GothamProBold";
@fi :"GothamProItalic";
@fl :"GothamProLight";

.psevdoContent(@verticalAlign:0){
content: "";
display: block;
clear:both;
vertical-align: @verticalAlign;
}

.brd{
    border: 1px solid #d3d3d3;
}

.gradient(@top, @bottom){
background: @top;
background-image: -webkit-linear-gradient(top, @top, @bottom);
background-image: -o-linear-gradient(top, @top, @bottom);
background-image: -ms-linear-gradient(top, @top, @bottom);
background-image: linear-gradient(top, @top, @bottom);
background-image: -moz-linear-gradient(top, @top, @bottom);
}


.verticalMiddle{
top: 50%;
-ms-transform: translate(0,-50%); /* IE 9 */
    -webkit-transform: translate(0,-50%); /* Chrome, Safari, Opera */
    transform: translate(0,-50%);
    position: absolute;
}

.itemCenter{
top: 50%;
left:50%;
-ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Chrome, Safari, Opera */
    transform: translate(-50%,-50%);
    position: absolute;

}
.horizontalMiddle{
left: 50%;
-ms-transform: translate(-50%,0); /* IE 9 */
    -webkit-transform: translate(-50%,0); /* Chrome, Safari, Opera */
    transform: translate(-50%,0);
    position: absolute;
}


.verticalTableMiddle(@width, @height){

display: table-cell;
width:@width;
height:@height;
vertical-align: middle;

}

.imgCenterBlock(@maxwidth, @maxheight){

display: block;
max-width:@maxwidth;
max-height:@maxheight;
margin: auto;

}

.boxShadow(@size ,@opacity){
box-shadow: 0 0 @size rgba(0, 0, 0, @opacity)

}




.cssAnimate(@time:0.1s, @type:linear){
-moz-transition: all  @time @type;
-o-transition: all  @time @type;
-webkit-transition: all  @time @type;

}

.cssRotate(@deg){
-ms-transform: rotate(@deg); /* IE 9 */
    -webkit-transform: rotate(@deg); /* Chrome, Safari, Opera */
    transform: rotate(@deg);

}


.fullSize(@positon:absolute){
top: 0;
right: 0;
bottom: 0;
left: 0;
position:@positon;

}

.scale(@deg:0){
-ms-transform: scale(@deg); /* IE 9 */
    -webkit-transform: scale(@deg); /* Chrome, Safari, Opera */
    transform: scale(@deg);
}

.rotate(@deg:0){
-ms-transform: rotate(@deg); /* IE 9 */
    -webkit-transform: rotate(@deg); /* Chrome, Safari, Opera */
    transform: rotate(@deg);
}

.bg(@url,@width,@height){
     background: url(@url);
     background-size: @width @height;
     width: @width;
     height: @height;
}
.bgicon( @left:1rem,@top:1rem, @width:10rem, @height:10rem){
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position:  @left @top;
    background-size: 500rem 500rem;
    width: @width;
    height: @height;
    display: block;
    position: absolute;
    content: "";
}

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
 
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
html {
    height: 100%;

}
table{
    width: 100%;
    border:none;
      
}

ol:not([class])
{counter-reset: ol-counter -1;
     li {
        list-style: none;
        position: relative;
        padding-left: 21px;
        }
}
ol:not([class]) li:before {
content: counter(ol-counter);
counter-increment: ol-counter;
font-style: normal;
position: absolute;
left: 0px;
top: 0px;
font-size: 14px;
color: #f4003a;
}
 
 
  
td,th {
    padding: 10px; 
     vertical-align: top;
    color: #4c4c4c;
}
tr:nth-child(2n+2){
    background: #e9e9e9;
}
  
 h1{
    text-transform: uppercase;
 }
  h1, .pH1{  
    font-size: 48px;
    margin-bottom: 20px;
    color: #e76214;    
    line-height: 105%; 
    font-family: @fb;
}
h2{ 
    font-size: 30px;
    margin-bottom: 20px;
    color: #e76214;      
        line-height: 105%;
         font-family: @fb; 
}
h3{  
    font-size: 24px;
    margin-bottom: 15px;
    color: #4c4c4c;    
    line-height: 105%;  
     font-family: @fb;
}
p{
    margin-bottom: 15px;
    line-height: 150%;
}
a{
    color: #db5100;
    text-decoration: underline;
}
 
a:hover{
    text-decoration: none;
      
}
strong{
    font-family: @fb;
}
i, em{
      font-family: @fi;
}
hr{
    border: 0;
    height: 1px;
    background: #e6e6e6;
}
 
  
ol, ul {
    list-style-position: inside;
    margin-bottom: 20px;
}
li{
    margin-bottom: 10px;
}
 *:focus{
    outline: none;

 }
input[type='text'],input[type='password'],input[type='email'],textarea{
    padding: 12px;
    border: 1px solid #e6e6e6; 
}
 
input[type='submit'],button, .btn{
    color: #fff;
    padding: 10px 25px;
    padding-top: 11px;
    font-size: 20px;
    background: #f70046;
    border: 0;
    cursor: pointer; 
    text-transform: uppercase;
    text-decoration: none;
    
    border-radius: 5px;
    display: inline-block;
    &:hover{
            background: #BF0539;
    }
 }
 .moreBtn{
     color: #4b5e62;
    padding: 10px 25px;
    padding-top: 11px;
    font-size: 20px;
    background: #d6dee0;
    border: 0;
    cursor: pointer; 
    text-transform: uppercase;
    text-decoration: none;
     
    border-radius: 3px;
    display: inline-block;
    &:hover{
            background: #bcbcbc;
    }

 }


  .type2Btn{
     color: #fff;
    padding: 10px 25px;
    padding-top: 11px;
    font-size: 20px;
    background: #d6dee0;
    border: 0;
    cursor: pointer; 
    text-transform: uppercase;
    text-decoration: none;
     
    border-radius: 5px;
    display: inline-block;
    &:hover{
            background: #bcbcbc;
    }

 }

 *{
    -moz-box-sizing: border-box;
     box-sizing: border-box;

 }
body {
    font-family: @fn;
    font-size: 14px;
    color: #757575;
    width: 100%;
    height: 100%;
    min-width:1250px; 
    min-height: 650px;
     
}
.wrapper {
	width: 100%;
	min-width: 1250px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
    position: relative;

}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
	background: #FFE680;
}



/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 0 0 65px;
}

#body_frame, #centrer1, #centrer2, .bg_img, .load_frame, .scroll_frame, #bg_video, #preloader_frame, .rotate_help_frame, .pano_points_frame, .pano_place, #pano_screen, .map_place, .popup_overlay, .plans_map_cont, .plans_map, .floor_frame, .floor_map_cont, .floor_map, .apart_img, .korp_det_val, .adv_icons:after, .g_p:after, .korpus_move, .minimap_map_cont, .minimap_map, .p_item, .road_frame {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
#body_frame, .load_frame {
    overflow: hidden;
    min-height: 650px;
}
.bg_slides_frame {
    position: absolute;
    left: 50%;
    bottom: 80rem;
    width: 810rem;
    margin: 0 0 30rem -405rem;
    z-index: 5;
    height: 110rem;
}
.bg_slides_item {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    display: none;
}
.bg_slides_icon {
    position: absolute;
    width: 62px;
    height: 62px;
    margin: 0 0 20px -31px;
    border-radius: 31px;
    bottom: 100%;
    left: 50%;
    background: #f7941e;
}
.bg_slides_arrow.left {
    .bg('../img/left-slide.png',59rem,50rem);
    right: 100%;
}
.bg_slides_arrow {
   .verticalMiddle;
   cursor: pointer;
    
    position: absolute;
}
.bg_slides_arrow.right {
      .bg('../img/right-slide.png',62rem,50rem);
    left: 100%;
}

 .bg_slides_dots_frame {
    position: absolute;
    bottom: 50rem;
    left: 50%;
    width: 1000px;
    height: 0px;
    margin: 0 0 30px -500px;
    text-align: center;
    z-index: 10;
}
.bg_slides_dots {
    position: relative;
    width: 7rem;
    height:7rem;
    border-radius: 100%;
    cursor: pointer;
   background: #fff;
   margin: 5rem;
    display: inline-block;
}
.bg_slides_dots.active, .bg_slides_dots:hover {
   background: #d24f00;
}


.logo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 314rem;
}

.onl-tran-box{
    width: 247rem;
    height:146rem;
    background: url(../img/online-img.png);
    background-size:247rem 146rem;
    position: absolute;
    left: 0;
    top: 220rem;
    z-index: 1; 
}

.onl-tran-text{
    position: absolute;
    top: 39rem;
    left: 54rem;
    font-size: 18rem;
    text-transform: uppercase;
    line-height: 21rem;
    font-family: @fl;
    strong{
        display: block;
        font-family: @fbl;
    }
}

.ac-main-icon{
    width: 158rem;
    height: 141rem;
    background: url(../img/ac-main-icon.png);
    background-size:158rem 141rem;
    position: absolute;
    z-index: 1;
    left: 30rem;
    top: 485rem;
     font-family: @fbl;
     span{
        position: absolute;
        color: #fff;
        text-transform: uppercase;
            font-size: 24rem;
    left: 30rem;
    top: 65rem;     }
}

.footer-menu{ 
    .bg('../img/footer-fon.png',515rem,56rem);
}

.footer-menu-list{
    margin: 0;
    li{
        list-style: none;
        margin: 0;
        display: inline-block;
        a{
            display: block;
                padding: 28rem 20rem;
                padding-bottom: 5rem;
            color: #ffffff;
            font-size: 16rem;
            text-transform: uppercase;
            text-decoration: none;
            font-family: @fbl;
            &:hover{
                text-decoration: underline;
            }
        }

    }
}

.menu-link{
    position: absolute;
    top:0;
    right:0;
    .bg('../img/menu-link.png',146rem,104rem);
    z-index: 1;
    text-decoration: none;
    span{
        color: #fff;
        font-size: 18rem;
        text-transform: uppercase;
        font-family: @fbl;
            position: absolute;
    left: 55rem;
    top: 25rem;
    }
    
}

.iocation-box{
    position: absolute;
    top: 235rem;
    right: 50rem;
    z-index: 1;
    .bg('../img/location-img.png',229rem,95rem);
    span{
        color: #e05300;
        font-size: 19rem;
        text-transform: uppercase;
            position: absolute;
    top: 36rem;
    left: 20rem;
        font-family: @fbl;
    }
}

.choose-home-link{
    position: absolute;
       top: 430rem;
    right: 45rem;
    z-index: 1;
    .bg('../img/choose-home.png',234rem,131rem);
    span{
        color: #fff;
        font-size: 31rem;
        text-transform: uppercase;
            position: absolute;
            top: 55rem;
    left: 29rem;
        font-family: @fl;
        strong{
        font-family: @fbl;
        display: block;
        text-align: center;

        }

    }
}

.toure-link{
    position: absolute;
    top:650rem;
    right: 110rem;
    z-index: 1;
    .bg('../img/3d-img.png',106rem,186rem);
    span{
        color: #e05300;
        font-size: 35rem;
        text-transform: uppercase;
            position: absolute;
        top: 47rem;
        left: 20rem;
        font-family: @fl;
        strong{
        font-family: @fbl;
        display: block;
        text-align: center;

        }

    }
}

.choose-content{
    overflow: hidden;
    min-height: 650px;
    .fullSize;
    .choose-img{
        width: 100%
    }
}

.number-pd{
    a{
        display: block;
        position: absolute;
        z-index: 1;
        top: 300rem;
        left:300rem;
        text-decoration: none;
        .bgicon(-49rem,24rem,109rem,112rem);
        &:hover{            
            .bgicon(-156rem,13rem,109rem,112rem);
            span{
            color: #fff;
                
            }
        }
        span{
            font-size: 36rem;
            color: #b94805;
            font-family: @fbl;
            position: absolute;
            top: 50rem;
            left: 47rem;
        }

    }
}

.topleftimg{
    position: absolute;
        top: -56rem;
    left: -19rem;
    z-index: 1;
}
.breadcrumbs-content{
    position: absolute;top: 0;
    left: 320rem;
    z-index: 1;
    padding-top: 20rem;
}
.breadcrumbs{
text-transform: uppercase;
margin-bottom: 8rem;
}
.breadcrumbs a {
    display: inline-block;
    margin-right: 5rem;
    padding:0 15rem;
    font-size: 14rem;
    height: 30rem;
    line-height: 30rem;
    color: #fff;
    text-decoration: none;
    background: url(../img/bread-fon.png);
    background-size: 100% 100%;

}
.breadcrumbs span {
    display: inline-block;
    color: #fff;
    margin-right: 5rem;
    padding:0 15rem;
    font-size: 14rem;
    height: 30rem;
    line-height: 30rem;
    background: url(../img/bread-fon.png);
    background-size: 100% 100%;
}

.breadcrumbs-content{
    h1{
        color: #ffffff;
        font-size: 36rem;
        margin-bottom: 10rem;
    }
}

.param-link{
    position: absolute;
       bottom: 120rem;
    right: 45rem;
    z-index: 1;
    .bg('../img/param-img.png',343rem,114rem);
    span{
        color: #fff;
        font-size: 21rem;
        text-transform: uppercase;
            position: absolute;
           top: 21rem;
    left: 73rem;
        font-family: @fl;
        text-align: center;
        strong{
        font-family: @fbl;
        display: block;
        text-align: center;
        font-size: 43rem;

        }

    }
}

.back-link{
    font-size: 24rem;
    color: #fff;
    position:relative;
    padding-left: 35rem;
    text-decoration: none;
    &:before{
         .bgicon(-297rem,0rem,23rem,10rem);
         .verticalMiddle;
 
         left: 0;
    }
}

.part-floor{
    position: absolute;
    width: 245rem;
    height: 126rem;
    z-index: 2;
}

.part-floor-nmb{

            .bgicon(-156rem,13rem,109rem,112rem);
             
          left: -55rem;
    top: 9rem;
        span{
            font-size: 36rem;
            color: #fff;
            font-family: @fbl;
            position: absolute;
            top: 50rem;
            left: 47rem;
        }
}

.part-floor-attr{
      .bg('../img/floor-fon.png',173rem,88rem);
      display: inline-block;
          padding-left: 37rem;
    padding-top: 26rem;
}

.part-floor-attr-count{
    font-size: 32rem;
    color: #d8590e;
    display: inline-block;
    font-family: @fbl; 
    margin-right: 5rem;
}

.part-floor-attr-head{
    font-family: @fbl;
    font-size: 12rem;
    color: #d8590e;
    display: inline-block; 
    text-transform: uppercase;
        line-height: 17rem;
}

.pd-mini{
    position: absolute;left: 0;
    bottom: 1rem;
    img{
        margin: 0;
    }
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -56rem auto 0;
	min-width: 1250px;
	height: 56rem;
	 
	position: relative;
}

.dekartBox{
    position: absolute;
    right: 0;
    bottom: 0;
    .bg('../img/dekart-fon.png',70rem,53rem);
    &:after{
           left: 20rem;
           top: 14rem;       
          .bgicon(1rem,1rem,23rem,23rem);
    }
}

.call-me{
    position: absolute;
    bottom: 3rem;
    right: 85rem;
    .bg('../img/call-me.png',200rem,44rem);
    text-decoration: none;
    span{
        color: #fefefe;
        font-size: 16rem;
        text-transform: uppercase;
        font-family: @fbl;
        position: absolute;
            top: 13rem;
    left: 21rem;
    }

}

.footer-tel{
    position: absolute;
    bottom: 10rem;
    right: 300rem;
    color: #fff;
    font-size: 12rem;
    span{
        font-size: 24rem;
        display: block;
        strong{
            font-family: @fbl;
        }
    }
}


.slide-title1{
    font-size: 60rem;
    color: #fff;
    text-align: center;
    font-family: @fbl;

}
.slide-title2{
    font-size: 60rem;
    color: #fff;
    text-align: center;
    font-family: @fl;

}